## Ignore build output and logs
bin/
obj/
out/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

## Visual Studio files
.vscode/
.vs/

## Dotnet-specific
project.lock.json
project.fragment.lock.json
artifacts/

## ASP.NET Core secrets
appsettings.Development.json
secrets.json

## Environment files
.env

## Dependency cache
*.nupkg
packages/
*.snupkg

## OS junk files
.DS_Store
Thumbs.db

## Publish folder (optional)
wwwroot/lib/
